@import url("main.css");

:root {
    --main-width-experience: 900px;
    --block-side-padding: 55px;
}

main{
    max-width: var(--main-width-experience);
}

h2 {
    font-size: 2em;
    text-align: center;
}

ol {
    list-style-type: none;
}

ol li {
    margin: 10px 0;
}

main div {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 20px;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.046);
}

main div pre {
    padding-left: var(--block-side-padding, 20px);
}