:root {
    --navigation-width: 250px;
    --title-font-family: "Oswald";
    --article-font-family: "Courier", monospace;
    --background-color: white;
    --text-color: black;
    --navigation-background-color: rgba(0, 0, 0, 0.046);
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
}

/* navigation toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch.nojs {
    display: none;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* navigation sidebar */
.navigation {
    height: 100%;
    position: fixed;
    width: var(--navigation-width, 250px);
    border-right: 1px solid transparent;
    background-color: var(--navigation-background-color);
}

.navigation > a > span{
    font-family: var(--title-font-family, "Oswald");
    display: block;
    font-size: 20pt;
    margin-top: 148px;
    margin-left: 48px;
    margin-bottom: 62px;
    margin-right: 32px;
    color: orange;
}

.hidden {
    display: none;
}

.navigation ul .link{
    list-style-type: none;
    margin-left: 42px;
    margin-right: 12px;
    margin-bottom: 20px;
    padding-right: 6px;
    padding-left: 6px;
}

.navigation ul .repo-link {
    list-style-type: none;
    margin-left: 20px;
    margin-right: 12px;
    margin-bottom: 20px;
    padding-right: 6px;
    padding-left: 6px;
}

.navigation ul a {
    color: black;
    font-size: 16pt;
    display: inline-block;
    max-width: 100%;
    cursor: pointer;
    transition: color 0.3s ease;
    &:hover {
        color: rgba(0, 0, 0, 0.5);
    }
}

.navigation ul a.visiting {
    background-color: black;
    color: white;
}

.dropdown svg {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    stroke:black;
    &:hover{
        transform: rotate(90deg);
    }
}


/* content */

.content{
    height: 100%;
    width: 100%;
    overflow-y: auto; /* Makes the content scrollable */
    margin-left: var(--navigation-width, 250px);
    padding-top: 100px;
    background-color: var(--background-color);
    color: var(--text-color);
}

div.title {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-bottom-width: 12px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255,194,1,1);
    width: 50%;
}

div.title h1{
    text-transform: uppercase;
    font-family: var(--title-font-family, "Oswald");
    font-size: 4em;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
}

main {
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
    max-width: 1280px;
}

fieldset { 
    margin: 0 auto; /* center the fieldset horizontally */ 
    padding: 1em; /* add some padding around the fieldset */ 
    text-align: center;
    font-size: 1em;
} 

fieldset > input{
    margin-bottom: 1em;
    font-size: 1.2em;
    padding-left: 0.2em;
}

fieldset > textarea {
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-right: 0.2em;
    padding-top: 0.5em;
    background-color: white;
}

fieldset > textarea.invalid{
    animation-name: error-background;
    animation-duration: 1s;
}

@keyframes error-background {
    from {background-color: orange;}
    to {background-color: white;}
}

output#error.invalid {
    animation-name: error-message;
    animation-duration: 4s;
    display: none;
}

@keyframes error-message {
    from {display: block;
        color: red;}
    to {color: white;}
}

form button {
    font-size: 1.2em;
    padding: 0.5em;
}

legend { 
    padding: 0.5em; /* add some padding around the legend */ 
} 

form .form-messages {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

form .form-messages output {
    font-size: 1.5em;
    line-height: 2em;
}


/* footer css */
footer {
    padding: 0 50px;
}


/* media for different media types */
@media screen and (max-width: 1300px){
    .container {
        display: flex;
        flex-direction: column;
    }

    .navigation {
        width: 100%;
        position: fixed;
        height: 80px;
        background-color: rgb(230, 226, 226);
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    

    .navigation > a > span{
        font-family: var(--title-font-family, "Oswald");
        font-size: 18pt;
        margin: 0;
        color: black;
        padding-left: 100px;
        max-width: 200px;
    }
    
    .hidden {
        display: none;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .navigation ul .link{
        list-style-type: none;
        padding: 0 20px;
        margin: 0;
    }
    
    .navigation ul .repo-link {
        list-style-type: none;
        margin: 0;
        padding: 0 20px;
    }
    
    .navigation ul a {
        color: black;
        font-size: 14pt;
        display: inline-block;
        max-width: 100%;
        cursor: pointer;
        transition: color 0.3s ease;
        &:hover {
            color: rgba(0, 0, 0, 0.5);
        }
    }
    
    .navigation ul a.visiting {
        background-color: black;
        color: white;
    }
    
    .dropdown svg {
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        stroke:black;
        &:hover{
            transform: rotate(90deg);
        }
    }

    .content{
        height: 100%;
        width: 100%;
        overflow-y: auto; /* Makes the content scrollable */
        margin-left: 0;
        margin-top: 100px;
    }

    .content .title h1{
        font-size: 2em;
    }
}



@media screen and (max-width: 880px){
    .container {
        display: flex;
        flex-direction: column;
    }

    .navigation {
        width: 100%;
        position: fixed;
        height: 80px;
        background-color: rgb(230, 226, 226);
        margin-bottom: 50px;
    }
    

    .navigation > a{
        display: none;
    }
    
    .hidden {
        display: none;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .navigation ul .link{
        list-style-type: none;
        padding: 0 20px;
        margin: 0;
    }
    
    .navigation ul .repo-link {
        list-style-type: none;
        margin: 0;
        padding: 0 20px;
    }
    
    .navigation ul a {
        color: black;
        font-size: 14pt;
        display: inline-block;
        max-width: 100%;
        cursor: pointer;
        transition: color 0.3s ease;
        &:hover {
            color: rgba(0, 0, 0, 0.5);
        }
    }
    
    .navigation ul a.visiting {
        background-color: black;
        color: white;
    }
    
    .dropdown svg {
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        stroke:black;
        &:hover{
            transform: rotate(90deg);
        }
    }

    .content{
        height: 100%;
        width: 100%;
        overflow-y: auto; /* Makes the content scrollable */
        margin-left: 0;
        margin-top: 100px;
    }

    div.title h1{
        text-transform: uppercase;
        font-family: var(--title-font-family, "Oswald");
        font-size: 1em;
        line-height: 1.2;
        font-weight: 600;
        text-align: center;
    }

}